tap "homebrew/cask-fonts"

# App Store CLI
brew "mas"

# Dependencies
brew "coreutils" # required by asdf
brew "gpg" # required by asdf-nodejs
brew "gawk" # required by asdf-nodejs

# HTTP clients
brew "wget"
brew "curl"

# Git
brew "git"
brew "gh"
brew "jesseduffield/lazygit/lazygit"

# Terminal customiztions
brew "eza"
brew "bat"
brew "eth-p/software/bat-extras-prettybat"
brew "fd"
brew "bottom"

# zsh plugins
brew "zsh-vi-mode"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "zsh-history-substring-search"
brew "zsh-completions"
brew "powerlevel10k"

# File manipulation
brew "fx"
brew "jq"
brew "yq"
brew "ripgrep"
brew "trash"

# Terminal multiplexer
brew "tmux"
brew "tpm"

# Text editor
# brew "neovim"
cask "table-tool"

# Dotfiles
brew "chezmoi"

# Programming Languages
brew "asdf"

brew "golangci-lint"

brew "delve"

# IaC
brew "pulumi/tap/pulumi"

# Browser
cask "google-chrome"
cask "arc"

# Reading
cask "thorium"

# Spotlight replacement
cask "raycast"

# Fonts
cask "font-fira-code-nerd-font"
cask "font-fira-code"

# Terminal emulator
cask "kitty"

# Window manager
cask "rectangle"

# Password manager
cask "1password"

{{ if eq .chezmoi.hostname "Otavios-iMac" }}
# VPN
cask "nordvpn"
{{ end }}

# Spotify
cask "spotify"

# Docker
cask "docker"

# Spaced repetition software
cask "anki"

# Note taking
cask "obsidian"
cask "notion"

# Design
cask "figma"

# Logitech
cask "logi-options-plus"

# Communication
cask "whatsapp"

# Screen recording
cask "obs"

# Video
brew "ffmpeg"

# LazyVim
brew "ast-grep"
brew "luarocks"
brew "lua"
