[user]
  name = Otávio Pardim
  {{- with env "WHEREAMI" }}
    {{- if eq . "home" }}
  email = otaviotech@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEDA0b9SV32peReZ8rGi9j/IHLi8tsmc4R8OpzBiLkgr
    {{- else if "work" }}
  email = otavio.pardim@emma-sleep.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM2N5H9C7BS4wofeowocMojxtBRERwZmQ6eW1igKUJxg
    {{- end }}
  {{- end }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[init]
  defaultBranch = main
