#!/bin/bash

{{ if ne .chezmoi.os "darwin" }}
echo "This script is intended to be run on macOS only."
exit 0
{{ end }}

set -o errexit  # abort on nonzero exitstatus
set -o nounset  # abort on unbound variable
set -o pipefail # don't hide errors within pipes

# Install CommandLineTools
sudo rm -rf /Library/Developer/CommandLineTools
sudo xcode-select --install

# Install homebrew (https://brew.sh)
echo "Installing homebrew..."
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

echo "Installing base packages..."
brew bundle -v

# Install oh-my-zsh (unnatended install)
echo "Installing oh-my-zsh..."
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

## Instal zsh plugin zsh-better-npm-completion (https://github.com/lukechilds/zsh-better-npm-completion)
echo "Installing zsh plugin: zsh-better-npm-completion..."
git clone https://github.com/lukechilds/zsh-better-npm-completion ~/.oh-my-zsh/custom/plugins/zsh-better-npm-completion

# Set mac defaults
echo "Setting macOS defaults..."

## Auto hide dock
defaults write com.apple.dock "autohide" -bool "true"

## Dock animation (scale)
defaults write com.apple.dock "mineffect" -string "scale"

## Finder - show hidden files
defaults write com.apple.finder "AppleShowAllFiles" -bool "true"

## Finder - show path bar
defaults write com.apple.finder "ShowPathbar" -bool "false"

## Finder - keep folders on top
defaults write com.apple.finder "\_FXSortFoldersFirst" -bool "true"

## Finder empty bin every 30 days
defaults write com.apple.finder "FXRemoveOldTrashItems" -bool "true"

## Finder - show hard drives on destop
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool true
defaults write com.apple.finder ShowHardDrivesOnDesktop -bool true
defaults write com.apple.finder ShowMountedServersOnDesktop -bool true
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool true

## Menu bar - flash clock
defaults write com.apple.menuextra.clock "FlashDateSeparators" -bool "true"

## Misc - Repeat key when held down
defaults write NSGlobalDomain "ApplePressAndHoldEnabled" -bool "false"

## Hot corners
defaults write com.apple.dock wvous-tl-corner -int 2
defaults write com.apple.dock wvous-tr-corner -int 12
defaults write com.apple.dock wvous-br-corner -int 4
defaults write com.apple.dock wvous-bl-corner -int 3

# Repeat keys
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false # For VS Code
defaults delete -g ApplePressAndHoldEnabled

# Restart macOS UI
echo "Restarting macOS UI and Dock..."
killall Dock
killall SystemUIServer

GREEN='\033[0;32m'
NC='\033[0m' # No Color

echo -e "${GREEN}Success!${NC}\n"

echo "Restart your terminal and you are all set!"
echo -e "${GREEN}Happy Hacking!\n"

exit 0
